<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{title}}</title>
  <meta name="description" content="Most popular Python packages now support Python 3.">
  <meta name="author" content="Yuv">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">

  <link rel="stylesheet" href="/static/css/style.css?v=2">
  <script src="/static/js/libs/modernizr-1.6.min.js"></script>
</head>

<body>

  <div id="container">
    <b class="border-a"></b> 
    <b class="border-b"></b> 
    <b class="border-c"></b> 
    <b class="border-d"></b> 
   
    <header>
        <h1>{{title}}</h1>
    </header>
    
    <div id="main">
        <a href="https://github.com/cclauss/python3wos_asyncio">
           <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
        </a>
        <p>
            Python 3.0 was released {{py3_days}} days ago on December 3, 2008.
        </p>
        <p>
            As listed on PyPI - packages in <span class="green">green</span> support Python 3, packages in <span class="red">red</span> do not. Hopefully one day everything will be greener.
        </p>
        <p>
            Status: {{count}} of these packages (or their forks) support Python 3.  Last updated: {{min_time}}
        </p>
        <table><tr><th>Package</th><th>Downloads</th></tr>
        {% for package in packages %}
            {% if package.equivalent_url %}
                <tr class="py3True" id="{{package.pkg_name}}">
                    <td>
                        <a href="{{package.url}}" timestamp="{{package.timestamp}}">{{package.pkg_name}}</a>
                        {% if package.has_py3_fork %}
                            <img src="static/redtri.png" alt="Has a Python 3 fork" title="This package isn't classified as being Python 3 compatible on PyPI, but there is a Python 3 compatible alternative..."/>
                            (<a href="{{package.equivalent_url}}">py3</a>)
                        {% else %}
                            (<a href="{{package.equivalent_url}}">py3</a>)
                        {% endif %}
                    </td>
            {% else %}
                <tr class="py3{{package.py3}}" id="{{package.pkg_name}}">
                    <td>
                        <a href="{{package.url}}" timestamp="{{package.timestamp}}">{{package.pkg_name}}</a>
                        {% if package.py2only %}
                            <img src="static/lock.png" alt="Forever Python2" title="The maintainers of this package have declared it will work only on Python 2 for the foreseeable future using the &quot;Programming Language :: Python :: 2 :: Only&quot; classifier on PyPI."/>
                        {% endif %}
                    </td>
            {% endif %}
                    <td>{{package.downloads}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>


    <footer>
        <ul> 
            <li> 
                Python 2 version written by <a href="http://uberpython.wordpress.com/">Yuv</a> aka ubershmekel.
            </li>
            <li> 
                Python 3 asyncio version written by <a href="https://github.com/cclauss/">cclauss</a>.
            </li>
            <li>
                Don't wait, start <a href="http://wiki.python.org/moin/PortingToPy3k/">porting code to Python 3</a>.
            </li>
            <li>
                The source code for this <a href="https://bluemix.net">Bluemix</a> webapp is <a href="https://github.com/cclauss/python3wos_asyncio">available on GitHub</a>.
            </li>
            <li>
                The wall updates about once a day, see the timestamp above.  Using Python3 asyncio on Bluemix, it gathers and processes 5,000 PyPI records in about 20 seconds.
            </li>
            <li>
                Design <a href="http://www.reddit.com/r/Python/comments/fk4gs/the_python_3_wall_of_shame/c1giwbi">stolen</a> from <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>. 
            </li>
            <li>
                All modules whose PyPI record that does not contain any <b>"Programming Language :: Python :: 3"</b> <a href="https://pypi.python.org/pypi?%3Aaction=list_classifiers">trove classifiers</a> will be marked as red.
            </li>
            <li>
                If you see a red module that you know is Python 3 compatible, please consider requesting that the package maintainers to add these tags to the package's setup.py file AND PyPI record.
            </li>
            <li>
                Note that this subdomain's called "python3wos" - <a href="https://python3wos.mybluemix.net/index_4000.html">when the status drops below 50%</a>, the title of the site changes to "Python 3 Wall of Shame". I kid you not.
            </li>
        </ul>
        <div class="summary_box" style="margin:2em auto;width:20px;">
        {% for package in packages %}
            {% if package.equivalent_url or package.force_green %}
                <div class="py3True" style="height:1px;"></div>
            {% else %}
                <div class="py3{{package.py3}}" style="height:1px;"></div>
            {% endif %}
        {% endfor %}
        </div>
    </footer>
  </div> <!-- end of #container -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
  
  
  <!-- scripts concatenated and minified via ant build script-->
  <!--
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/script.js"></script>-->
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

  <!-- yui profiler and profileviewer - remove for production -->
  <!--<script src="js/profiling/yahoo-profiling.min.js"></script>
  <script src="js/profiling/config.js"></script>-->
  <!-- end profiling code -->


  <!-- change the UA-XXXXX-X to be your site's ID -->
  <script>
   var _gaq = [['_setAccount', 'UA-4533496-11'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>


  <script>
    function getParameterByName(name)
    {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\?&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(window.location.href);
        if(results == null) {
            return "";
        } else {
            return decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    }
    
    if ("1" == getParameterByName("pygmalion")) {
        var cssId = 'myCssId';  // you could encode the css path itself to generate id..
        if (!document.getElementById(cssId))
        {
            var head  = document.getElementsByTagName('head')[0];
            var link  = document.createElement('link');
            link.id   = cssId;
            link.rel  = 'stylesheet';
            link.type = 'text/css';
            link.href = '/static/css/happy.css';
            link.media = 'all';
            head.appendChild(link);
        }        
    }
  </script>
<!--HRD-->
</body>
</html>
